::-webkit-scrollbar {
	width: 15px;
	height: 16px;
}

::-webkit-scrollbar-corner {
	background-color: transparent;
}

::-webkit-scrollbar-thumb {
	min-height: 40px;

	border: 3px solid transparent;
	border-radius: 8px;
	background-color: hsl(216, 7%, 14%);
	background-clip: padding-box;
}

::-webkit-scrollbar-track {
	margin: 4px 0;

	border: 1px solid transparent;
	border-radius: 8px;
	background-color: hsl(223, 6.9%, 19.8%);
	background-clip: padding-box;
}
